.StyleManagement
{
    background-color: red!important;
    background-image: none!important;
    color: white!important;
}

.StyleManufacturing
{
    background-color: green!important;
    background-image: none!important;
    color: white!important;
}

.StyleSales
{
    background-color: blue!important;
    background-image: none!important;
    color: white!important;
}